.page_404{ padding: 115px 0; background:#090e34; font-family: 'Arvo', serif;
}

.page_404  img{ width:200%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/1658117/screenshots/4879827/media/638834d901772e5a40a46272fa80c97d.gif);
    height: 400px;
    background-position: center;
}
 
 .link_404{
	color: #000000;
    padding: 10px 20px;
    background: #ffffff;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}